
<div class="container">
  <div class="card border-dark mb-3 " >
    <div class="titulotarjetas" style="font-family: Corinthia">
      <h2> 
        Listado proveedores
      </h2>
    </div>
  <div class="card-header"> Proveedores </div>
  <div class="card-body">
    <li class="list-group-item">
      <div class="grid-item">
        <tr *ngFor="let prov of proveedores">
          <div class="card border-dark mb-4 " >
          <div class="card-header">
            <p>{{prov.nombre}}</p>
            
          </div>
          <div class="card-body">
            <p>{{prov.descripcion}}</p>
            <p>{{prov.direccion}}</p>
            <p>{{prov.telefono}}</p>
          </div>
        </div>
        </tr>
      </div>
      </div>
    </div>
</div>
  
