
<app-header></app-header>
<br>
<div class="titulo">
  <h1>{{title}}</h1>
</div>


<section class="contenido">
  <h2  style="font-family: Corinthia"> 
    {{instituto}}
    
  </h2>
  <form name="presentar" id="presentar">
    <br>
    <div class="campos">
      <ul>
        <div>
          <label class="secciones">
            {{carrera}}
          <br>
            {{materia}}
          <br>
            Estudiante:
            {{estudiante}}
          <br>
            Curso:
            {{curso}}
            <br>
            Año Lectivo:
            {{alectivo}}
          </label>
        </div>
      </ul>
    </div>
  </form>
  
  <router-outlet></router-outlet>
</section>
<br>
<app-footer></app-footer>
<br>
