
<app-header></app-header>
<br>
<div class="titulo">
  <h1>{{title}}</h1>
</div>
<section class="contenido">
  <h2> 
    {{instituto}}
  </h2>
  <form name="presentar" id="presentar">
    <br>
    <div class="campos">
      <ul>
        <div>
          <label class="infoinfo">
            {{carrera}}
          </label>
          <br>
          <br>
          <label class="infoinfo">
            {{materia}}
          </label>
          <br>
          <br>
          <label  class="tituloinfo">
            Estudiante:
          </label>
          <label class="infoinfo">
            {{estudiante}}
          </label>
          <br>
          <br>
          <label class="tituloinfo">
            Curso:
          </label>
          <label class="infoinfo">
            {{curso}}
          </label>
          <br>
          <br>
          <label class="tituloinfo">
            Año Lectivo:
          </label>
          <label class="infoinfo">
            {{alectivo}}
          </label>
          <br>
        </div>
      </ul>
    </div>
  </form>
</section>
<app-footer></app-footer>
<br>
